/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Vue Layout component transition */
.layout-enter-active, .layout-leave-active {
	transition: opacity 0.5s;
}
.layout-enter, .layout-leave-active {
	opacity: 0;
}

body
{
	font-family: 'Roboto', sans-serif;
}
html {
	scroll-behavior: smooth;
}
